{% extends "global/baseLogin.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block conteudo  %}
    <div id="login">
        <div class="login-container">
            <h2>Login</h2>
            <p>não tem uma conta? então <a href="{% url "cadastro" %}">clique aqui</a> para se registrar</p>
            <form class="login-form">
                <div class="form-group">
                    <label for="username_login">Usuário:</label>
                    <input type="text" id="username_login" name="username_login" required>
                </div>
            
                <div class="form-group">
                    <label for="password_login">Senha:</label>
                    <input type="password" id="password_login" name="password_login" required>
                </div>

                <p id="mensagemLogin"></p>
            
                <div class="form-group">
                    <button type="button" onclick="validarCamposLoginEntrar()">Entrar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock conteudo  %}