{% extends "global/base.html" %}

{% load static %}

{% block title %}Titulo{% endblock title %}

{% block conteudo  %}
    <div class="row">
        <div class="col-md-4">
            <img src="{{ media.image_url }}" alt="{{ media.title }} Poster" class="d-block w-100 rounded">
        </div>
        <div class="col-md-8">
            <h2>{{ media.title }}</h2>
            <p>{{ media.overview }}</p>
            <!-- Outras informações da mídia aqui -->
        </div>
    </div>
    {% endblock conteudo  %}