{% extends "global/base.html" %}

{% load static %}

{% block title %}Listas{% endblock title %}

{% block ativado_list %}active{% endblock ativado_list %}

{% block conteudo  %}
    <div class="container" id="listas">
        <section id="watch-later">
            <h2>Assistir Mais Tarde</h2>
            <!-- Aqui serão exibidos os filmes e séries da lista "Assistir Mais Tarde" -->
        </section>

        <section id="custom-lists">
            <h2>Minhas Listas Personalizadas</h2>
            <button onclick="showCreateListForm()">+</button>
            <div id="create-list-form" style="display:none;">
                <label for="list-name">Nome da Lista:</label>
                <input type="text" id="list-name">
                <label for="list-description">Descrição (opcional):</label>
                <input type="text" id="list-description">
                <button onclick="createCustomList()">Criar Lista</button>
            </div>
            <!-- Aqui serão exibidas as listas personalizadas com seus detalhes -->
        </section>
    </div>
{% endblock conteudo  %}